<div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header card-header-danger">
                <h4 class="card-title">Signal Loans</h4>
                <p class="card-category">Confirm Email</p>
            </div>
            <div class="card-body">
                An email has been send to <strong>username@mail.com</strong>. Please check for an email from us and click on the included link to reset your password.
            </div>
        </div>
    </div>
</div>
