<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-info">
                <p class="card-category">Property Settings</p>
            </div>

            <div class="card-body">

                <nav mat-tab-nav-bar>
                    <a mat-tab-link routerLinkActive #user="routerLinkActive" [active]="user.isActive"
                       [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/settings/property']">
                        <span class="nav-text"> Property Types</span></a>

                    <!--<a mat-tab-link routerLinkActive #property_type="routerLinkActive" [active]="property_type.isActive"
                       [routerLink]="['property_types']">
                        <span class="nav-text"> Property Types</span></a>-->

                    <a mat-tab-link routerLinkActive #amenity="routerLinkActive" [active]="amenity.isActive"
                       [routerLink]="['amenities']">
                        <span class="nav-text"> Amenities</span></a>

                    <a mat-tab-link routerLinkActive #utility="routerLinkActive" [active]="utility.isActive"
                       [routerLink]="['utilities']">
                        <span class="nav-text"> Utilities</span></a>

                    <a mat-tab-link routerLinkActive #unit_type="routerLinkActive" [active]="unit_type.isActive"
                       [routerLink]="['unit_types']">
                        <span class="nav-text"> Unit Types</span></a>

                </nav>

                <router-outlet></router-outlet>

            </div>
        </div>
    </div>
</div>
