<div class="row">
    <div class="fab-container">
        <button mat-fab class="fab-toggler" (click)="addDialog()">
            <mat-icon>add</mat-icon>
        </button>
    </div>
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">

                <div class="row search-form-section">
                    <div class="col-3">
                        <button mat-button matPrefix mat-stroked-button aria-label="add new" (click)="addDialog()">
                            <mat-icon>add</mat-icon> New Utility
                        </button>
                    </div>
                    <div class="col-9">
                        <mat-form-field class="search-form-field">
                            <input matInput #search placeholder="{{ 'robi.filter' | translate }}" autocomplete="off" [disabled]="meta?.total===0">
                            <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="search.value" (click)="clearSearch()">
                                <mat-icon>close</mat-icon></button>
                        </mat-form-field>
                    </div>
                </div>

                <div class="table-responsive">

                    <mat-table #table [dataSource]="dataSource" matSort matSortActive="utility_display_name" matSortDirection="asc" matSortDisableClear>

                        <ng-container matColumnDef="utility_name">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
                            <mat-cell *matCellDef="let row"> {{row.utility_name}} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="utility_display_name">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Display Name </mat-header-cell>
                            <mat-cell *matCellDef="let row"> {{row.utility_display_name}} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="utility_description">
                            <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
                            <mat-cell *matCellDef="let row"> {{row.utility_description}} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="actions">
                            <mat-header-cell *matHeaderCellDef> Actions  </mat-header-cell>
                            <mat-cell *matCellDef="let row" class="button-row">
                                <button mat-icon-button [matMenuTriggerFor]="menu">
                                    <mat-icon>more_vert</mat-icon>
                                </button>
                                <mat-menu #menu="matMenu">
                                    <button mat-menu-item matTooltip="Edit Utility." [matTooltipPosition]="'above'" (click)="addDialog(false, row)">
                                        <mat-icon color="primary">edit</mat-icon>
                                        <span>Edit</span>
                                    </button>
                                    <button mat-menu-item matTooltip="Delete Utility." [matTooltipPosition]="'above'" (click)="openConfirmationDialog(row)">
                                        <mat-icon color="warn">delete</mat-icon>
                                        <span>Delete</span>
                                    </button>
                                </mat-menu>
                            </mat-cell>
                        </ng-container>

                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;"> </mat-row>

                    </mat-table>
                    <span *ngIf="meta?.total===0">No Data</span>

                    <div class="d-flex justify-content-center spinner-container" *ngIf="(dataSource?.loading$ | async) || loader">
                        <mat-progress-bar
                                color="green"
                                mode="query"
                                value=50
                                bufferValue=75>
                        </mat-progress-bar>
                    </div>

                    <mat-paginator #pagination
                                   [length]="meta?.total"
                                   [pageIndex]="pageIndex"
                                   [pageSizeOptions]="pageSizeOptions" showFirstLastButtons>
                    </mat-paginator>
                </div>
            </div>
        </div>
    </div>

</div>
