<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <form [formGroup] = "form" (ngSubmit)="onSubmit()">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <mat-form-field class="full-width" color="primary" appearance="outline">
                                    <mat-label>Default Commission</mat-label>
                                    <input matInput placeholder="Default Commission" formControlName="default_commission">
                                </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <mat-form-field class="full-width" color="primary" appearance="outline">
                                <mat-label>Commission Type</mat-label>
                                <input matInput placeholder="Commission Type" formControlName="commission_type">
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <mat-form-field class="full-width" color="primary" appearance="outline">
                                <mat-label>Property Number Prefix</mat-label>
                                <input matInput placeholder="Property Number Prefix" formControlName="property_prefix">
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <mat-form-field class="full-width" color="primary" appearance="outline">
                                <mat-label>Next Property Number</mat-label>
                                <input matInput placeholder="Next Property Number" formControlName="next_property_number">
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="divider divider-md"></div>

                    <div class="d-flex justify-content-center spinner-container" *ngIf="loader">
                        <mat-progress-bar
                                color="green"
                                mode="query"
                                value=50
                                bufferValue=75>
                        </mat-progress-bar>
                    </div>

                    <div>
                        <button mat-raised-button type="submit" class="btn pull-right" color="accent"
                                (click)="update()" [disabled]="!form.valid || loader">Update Settings</button>
                    </div>

                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
</div>
