<div class="row login-container">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-danger">
                <p class="card-category">Reset Password</p>
            </div>
            <div class="card-body">
                <form [formGroup] = "form">
                    <div class="row">
                        <div class="col-md-12">
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Reset Code"  formControlName="token" type="text">
                                <mat-icon matSuffix class="material-icons">confirmation_number</mat-icon>
                                <mat-hint align="start"><strong>We sent this code to your email.</strong> </mat-hint>
                                <mat-error align="start" *ngIf="formErrors?.token" class="form__error">{{ formErrors.token }}</mat-error>

                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Email Address"  formControlName="email" type="text">
                                <mat-icon matSuffix class="material-icons">mail_outline</mat-icon>
                                <mat-error align="start" *ngIf="formErrors?.email" class="form__error">{{ formErrors.email }}</mat-error>

                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="New Password"  formControlName="password" type="password">
                                <mat-icon matSuffix class="material-icons">lock</mat-icon>
                                <mat-error align="start" *ngIf="formErrors?.password" class="form__error">{{ formErrors.password }}</mat-error>

                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Confirm Password"  formControlName="password_confirmation" type="password">
                                <mat-icon matSuffix class="material-icons">lock</mat-icon>
                                <mat-error align="start" *ngIf="formErrors?.password_confirmation" class="form__error">{{ formErrors.password_confirmation }}</mat-error>

                            </mat-form-field>
                        </div>
                    </div>
                    <div class="divider divider-md"></div>

                    <div class="additional-info">
                        <span class="divider-h"></span>
                        <button *ngIf="!loader" mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="resetPassword()" [disabled]="!form.valid">
                            Reset Password
                        </button>

                        <div class="spinner" *ngIf="loader">
                            <mat-spinner [diameter]="30"></mat-spinner>
                        </div>
                    </div>

                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
</div>
