<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title" *ngIf="isAdd">New Property
                            <ng-container *ngIf="formError$ | async">
                                <mat-icon color="warn">error_outline</mat-icon>
                            </ng-container>
                        </h4>
                        <h4 class="card-title" *ngIf="!isAdd">Edit Property
                            <ng-container *ngIf="formError$ | async">
                                <mat-icon color="warn">error_outline</mat-icon>
                            </ng-container>
                        </h4>
                    </div>
                    <div class="card-body">

                        <mat-vertical-stepper [linear]="isLinear" #stepper>
                            <mat-step [stepControl]="propertyDetailsFormGroup">
                                <form [formGroup]="propertyDetailsFormGroup">
                                    <ng-template matStepLabel>Property Details</ng-template>
                                    <div class="row col-sm-12">
                                        <div class="col-sm-12">
                                            <form [formGroup] = "propertyDetailsFormGroup">

                                                <div class="row" *ngIf="!isAdd">
                                                    <div class="col-sm-6">
                                                        <mat-form-field class="full-width" color="primary" appearance="outline">
                                                            <mat-label>Total Units</mat-label>
                                                            <input matInput formControlName="total_units">
                                                        </mat-form-field>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <button class="mb-4" mat-button color="accent"  [routerLink]="['units']"
                                                                (click)="onPropertySelected()">
                                                            <mat-icon>add_circle_outline</mat-icon>
                                                            Edit Units
                                                        </button>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <ng-container *ngIf="!isAdd">
                                                            <mat-form-field class="full-width" color="primary" appearance="outline">
                                                                <mat-label>Landlord</mat-label>
                                                                <input matInput formControlName="landlord_id">
                                                            </mat-form-field>
                                                        </ng-container>
                                                        <ng-container *ngIf="isAdd">
                                                        <mat-form-field color="primary" appearance="outline">
                                                            <mat-label>Landlord</mat-label>
                                                            <mat-select formControlName="landlord_id" #memberSelect>
                                                                <mat-option>
                                                                    <ngx-mat-select-search [formControl]="landlordServerSideFilteringCtrl" [searching]="searching"
                                                                                           placeholderLabel="Find Landlord..."
                                                                                           noEntriesFoundLabel="No matching Landlord found ...">
                                                                    </ngx-mat-select-search>
                                                                </mat-option>
                                                                <mat-option *ngFor="let landlord of landlordsFiltered$ | async" [value]="landlord.id">
                                                                    {{landlord.first_name}} {{landlord.last_name}}
                                                                </mat-option>
                                                            </mat-select>
                                                            <mat-error align="start" *ngIf="formErrors?.landlord_id" class="form__error">{{ formErrors.landlord_id }}</mat-error>
                                                        </mat-form-field>
                                                        </ng-container>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <mat-form-field class="full-width" color="primary" appearance="outline">
                                                            <mat-label>Property Type *</mat-label>
                                                            <mat-select placeholder="Property Type *" formControlName="property_type_id">
                                                                <mat-option *ngFor="let propertyType of propertyTypes$ | async" [value]="propertyType.id">
                                                                    {{propertyType.display_name}}
                                                                </mat-option>
                                                            </mat-select>
                                                            <mat-error align="start" *ngIf="formErrors?.property_type_id" class="form__error">{{ formErrors.property_type_id }}</mat-error>
                                                        </mat-form-field>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-sm-12 col-md-12">
                                                        <mat-form-field class="full-width" color="primary" appearance="outline">
                                                            <mat-label>Property Name</mat-label>
                                                            <input matInput formControlName="property_name" placeholder="Property Name">
                                                            <mat-error align="start" *ngIf="formErrors?.property_name" class="form__error">{{ formErrors.property_name }}</mat-error>
                                                        </mat-form-field>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-sm-6 col-md-6">
                                                        <mat-form-field class="full-width" color="primary" appearance="outline">
                                                            <mat-label>Property Code</mat-label>
                                                            <input matInput formControlName="property_code" placeholder="Property Code">
                                                            <mat-error align="start" *ngIf="formErrors?.property_code" class="form__error">{{ formErrors.property_code }}</mat-error>
                                                        </mat-form-field>
                                                    </div>
                                                    <div class="col-sm-6 col-md-6">
                                                        <mat-form-field class="full-width" color="primary" appearance="outline">
                                                            <mat-label>Location</mat-label>
                                                            <input matInput formControlName="location" placeholder="Location">
                                                            <mat-error align="start" *ngIf="formErrors?.location" class="form__error">{{ formErrors.location }}</mat-error>
                                                        </mat-form-field>
                                                    </div>
                                                </div>

                                                <ng-container *ngIf="isAdd">
                                                    <div formArrayName="unitFields"
                                                         *ngFor="let unitField of allUnitFields.controls; let i = index;">
                                                    <div class="row" [formGroupName]="i">
                                                        <div class="col-9 col-sm-9 col-md-9 col-lg-9 col-xl-9">
                                                            <mat-form-field (click)="addUnitDetails(i)" class="full-width" color="primary" appearance="outline">
                                                                <mat-label> {{i+1}}. Unit Name</mat-label>
                                                                <input [readonly]="true"  matInput formControlName="unit_name" placeholder="e.g Suit 001">
                                                                <span class="float-right mr-1 ml-5" style="margin-top:-20px;">
                                                                    <ng-container>
                                                                    <input [readonly]="true"  matInput formControlName="unit_type_name" placeholder="e.g Suit 001">

                                                                    </ng-container>
                                                                </span>
                                                                <span matSuffix class="material-icons">menu</span>
                                                                <mat-error align="start" *ngIf="formErrors?.unit_name" class="form__error">{{ formErrors.unit_name }}</mat-error>
                                                            </mat-form-field>
                                                        </div>

                                                        <div class="col-2 col-sm-2 col-md-3 col-lg-3 col-xl-3 mt-md-3 mt-lg-3 mt-xl-3">
                                                            <button class="btn btn-link btn-sm btn-just-icon" (click)="copyUnitField(i)"
                                                                    mat-icon-button aria-label="Copy to New Unit"
                                                                    matTooltip="Copy to New Unit" [matTooltipPosition]="'above'">
                                                                <mat-icon>file_copy</mat-icon>
                                                            </button>
                                                            <button class="btn btn-link btn-sm btn-just-icon" (click)="removeUnitField(i)"
                                                                    mat-icon-button color="accent" aria-label="Remove Unit"
                                                                    matTooltip="Remove Unit" [matTooltipPosition]="'above'">
                                                                <mat-icon color="warn">close</mat-icon>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                                </ng-container>

                                                <div class="row mb-4" *ngIf="isAdd">
                                                    <div class="col-6">
                                                        <button mat-button color="accent" (click)="addUnitField()"
                                                                matTooltip="Add Unit" [matTooltipPosition]="'above'">
                                                            <mat-icon>add_circle_outline</mat-icon>
                                                            Add Another Unit
                                                        </button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>

                                    <div>
                                        <button class="mat-raised-button" color="accent" mat-button matStepperNext type="button">
                                            <span>Next</span>
                                            <mat-icon color="material-icons">arrow_right</mat-icon>
                                        </button>
                                    </div>

                                </form>
                            </mat-step>
                            <mat-step [stepControl]="paymentsFormGroup">
                                <form [formGroup]="paymentsFormGroup">
                                    <ng-template matStepLabel>Payment Settings</ng-template>

                                    <div class="row">
                                        <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                            <mat-form-field class="full-width" color="primary" appearance="outline">
                                                <mat-label> Agent Commission Value</mat-label>
                                                <input  matInput type="number" min="0" formControlName="agent_commission_value" placeholder="Agent Commission Value">
                                                <mat-error align="start" *ngIf="formErrors?.agent_commission_value" class="form__error">{{ formErrors.agent_commission_value }}</mat-error>
                                            </mat-form-field>
                                        </div>

                                        <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                            <mat-form-field class="full-width" color="primary" appearance="outline">
                                                <mat-label> Agent Commission Type</mat-label>
                                                <mat-select placeholder="Agent Commission Type" formControlName="agent_commission_type">
                                                    <mat-option *ngFor="let agentCommissionType of agentCommissionTypes" [value]="agentCommissionType.key">
                                                        {{agentCommissionType.value}}
                                                    </mat-option>
                                                </mat-select>
                                                <mat-error align="start" *ngIf="formErrors?.agent_commission_type" class="form__error">{{ formErrors.agent_commission_type }}</mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>

                                    <!-- Start Payment Method Fields-->
                                    <div formArrayName="paymentMethodFields"
                                         *ngFor="let paymentMethodField of paymentMethodFieldsAll.controls; let i = index;">
                                        <div class="row" [formGroupName]="i">
                                            <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                                                <mat-form-field class="full-width" color="primary" appearance="outline">
                                                    <mat-label> {{i+1}}. Payment Method Name</mat-label>
                                                    <mat-select placeholder="Payment Method Name" formControlName="payment_method_id">
                                                        <mat-option *ngFor="let paymentMethod of paymentMethods$ | async" [value]="paymentMethod.id">
                                                            {{paymentMethod.payment_method_display_name}}
                                                        </mat-option>
                                                    </mat-select>
                                                    <mat-error align="start" *ngIf="formErrors?.payment_method_id" class="form__error">{{ formErrors.payment_method_id }}</mat-error>
                                                </mat-form-field>
                                            </div>

                                            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                                <mat-form-field class="full-width" color="primary" appearance="outline">
                                                    <mat-label> {{i+1}}. Payment Method Description</mat-label>
                                                    <input  matInput formControlName="payment_method_description" placeholder="Payment Method Description">
                                                    <mat-error align="start" *ngIf="formErrors?.payment_method_description" class="form__error">{{ formErrors.payment_method_description }}</mat-error>
                                                </mat-form-field>
                                            </div>

                                            <div class="col-2 col-sm-2 col-md-3 col-lg-3 col-xl-3 mt-md-3 mt-lg-3 mt-xl-3">
                                                <button class="btn btn-link btn-sm btn-just-icon" (click)="paymentMethodFieldCopy(i)"
                                                        mat-icon-button aria-label="Copy to New Field"
                                                        matTooltip="Copy to New Field" [matTooltipPosition]="'above'">
                                                    <mat-icon>file_copy</mat-icon>
                                                </button>
                                                <button class="btn btn-link btn-sm btn-just-icon" (click)="paymentMethodFieldRemove(i)"
                                                        mat-icon-button color="accent" aria-label="Remove Field"
                                                        matTooltip="Remove Field" [matTooltipPosition]="'above'">
                                                    <mat-icon color="warn">close</mat-icon>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mb-4">
                                        <div class="col-6">
                                            <button mat-button color="accent" (click)="paymentMethodFieldAdd()"
                                                    matTooltip="Add Field" [matTooltipPosition]="'above'">
                                                <mat-icon>add_circle_outline</mat-icon>
                                                Add Another Payment Method
                                            </button>
                                        </div>
                                    </div>
                                    <!-- End Payment Method Fields-->
                                    <div>
                                        <button class="mat-raised-button mr-2" color="accent" mat-button matStepperPrevious type="button">
                                            <mat-icon color="material-icons">arrow_left</mat-icon>
                                            <span>Back</span>
                                        </button>
                                        <button class="mat-raised-button mr-2" color="accent" mat-button matStepperNext type="button">
                                            <span>Next</span>
                                            <mat-icon color="material-icons">arrow_right</mat-icon>
                                        </button>
                                    </div>
                                </form>
                            </mat-step>

                            <mat-step [stepControl]="extraChargesFormGroup">
                                <form [formGroup]="extraChargesFormGroup">
                                    <ng-template matStepLabel>Extra Charges</ng-template>

                                    <!-- Start Extra Charge Fields-->
                                    <div formArrayName="extraChargeFields"
                                         *ngFor="let extraChargeField of extraChargeFieldsAll.controls; let i = index;">
                                        <div class="row" [formGroupName]="i">
                                            <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                                                <mat-form-field class="full-width" color="primary" appearance="outline">
                                                    <mat-label> {{i+1}}. Extra Charge Name</mat-label>
                                                    <mat-select placeholder="Extra Charge Name" formControlName="extra_charge_id">
                                                        <mat-option *ngFor="let extraCharge of extraCharges$ | async" [value]="extraCharge.id">
                                                            {{extraCharge.extra_charge_display_name}}
                                                        </mat-option>
                                                    </mat-select>
                                                    <mat-error align="start" *ngIf="formErrors?.extra_charge_id" class="form__error">{{ formErrors.extra_charge_id }}</mat-error>
                                                </mat-form-field>
                                            </div>

                                            <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                                                <mat-form-field class="full-width" color="primary" appearance="outline">
                                                    <mat-label> {{i+1}}. Extra Charge Value</mat-label>
                                                    <input  matInput type="number" min="0" formControlName="extra_charge_value" placeholder="Extra Charge Value">
                                                    <mat-error align="start" *ngIf="formErrors?.extra_charge_value" class="form__error">{{ formErrors.extra_charge_value }}</mat-error>
                                                </mat-form-field>
                                            </div>

                                            <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                                                <mat-form-field class="full-width" color="primary" appearance="outline">
                                                    <mat-label> {{i+1}}. Extra Charge Type</mat-label>
                                                    <mat-select placeholder="Extra Charge Type" formControlName="extra_charge_type">
                                                        <mat-option *ngFor="let extraChargeType of extraChargeTypes" [value]="extraChargeType.key">
                                                            {{extraChargeType.value}}
                                                        </mat-option>
                                                    </mat-select>
                                                    <mat-error align="start" *ngIf="formErrors?.extra_charge_type" class="form__error">{{ formErrors.extra_charge_type }}</mat-error>
                                                </mat-form-field>
                                            </div>

                                            <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                                                <mat-form-field class="full-width" color="primary" appearance="outline">
                                                    <mat-label> {{i+1}}. Frequency</mat-label>
                                                    <mat-select placeholder="Frequency" formControlName="extra_charge_frequency">
                                                        <mat-option *ngFor="let extraChargeFrequency of extraChargeFrequencies" [value]="extraChargeFrequency.key">
                                                            {{extraChargeFrequency.value}}
                                                        </mat-option>
                                                    </mat-select>
                                                    <mat-error align="start" *ngIf="formErrors?.extra_charge_frequency" class="form__error">{{ formErrors.extra_charge_frequency }}</mat-error>
                                                </mat-form-field>
                                            </div>

                                            <div class="col-2 col-sm-2 col-md-3 col-lg-3 col-xl-3 mt-md-3 mt-lg-3 mt-xl-3">
                                                <button class="btn btn-link btn-sm btn-just-icon" (click)="extraChargeFieldCopy(i)"
                                                        mat-icon-button aria-label="Copy to New Field"
                                                        matTooltip="Copy to New Field" [matTooltipPosition]="'above'">
                                                    <mat-icon>file_copy</mat-icon>
                                                </button>
                                                <button class="btn btn-link btn-sm btn-just-icon" (click)="extraChargeFieldRemove(i)"
                                                        mat-icon-button color="accent" aria-label="Remove Field"
                                                        matTooltip="Remove Field" [matTooltipPosition]="'above'">
                                                    <mat-icon color="warn">close</mat-icon>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mb-4">
                                        <div class="col-6">
                                            <button mat-button color="accent" (click)="extraChargeFieldAdd()"
                                                    matTooltip="Add Field" [matTooltipPosition]="'above'">
                                                <mat-icon>add_circle_outline</mat-icon>
                                                Add Another Charge
                                            </button>
                                        </div>
                                    </div>
                                    <!-- End Extra Charge Fields-->
                                    <div>
                                        <button class="mat-raised-button mr-2" color="accent" mat-button matStepperPrevious type="button">
                                            <mat-icon color="material-icons">arrow_left</mat-icon>
                                            <span>Back</span>
                                        </button>

                                        <button class="mat-raised-button mr-2" color="accent" mat-button matStepperNext type="button">
                                            <span>Next</span>
                                            <mat-icon color="material-icons">arrow_right</mat-icon>
                                        </button>
                                    </div>
                                </form>
                            </mat-step>

                            <mat-step [stepControl]="lateFeesFormGroup">
                                <form [formGroup]="lateFeesFormGroup">
                                    <ng-template matStepLabel>Late Fees</ng-template>
                                    <div formArrayName="lateFeeFields"
                                         *ngFor="let lateFeeField of lateFeeFieldsAll.controls; let i = index;">
                                        <div [formGroupName]="i" class="mb-4">

                                            <div class="row">
                                            <div class="col-4">
                                                <mat-form-field class="full-width" color="primary" appearance="outline">
                                                    <mat-label> {{i+1}}. Late Fee Name</mat-label>
                                                    <mat-select placeholder="Late Fee Name" formControlName="late_fee_id">
                                                        <mat-option *ngFor="let lateFee of lateFees$ | async" [value]="lateFee.id">
                                                            {{lateFee.late_fee_display_name}}
                                                        </mat-option>
                                                    </mat-select>
                                                    <mat-error align="start" *ngIf="formErrors?.late_fee_id" class="form__error">{{ formErrors.late_fee_id }}</mat-error>
                                                </mat-form-field>
                                            </div>

                                            <div class="col-4">
                                                <mat-form-field class="full-width" color="primary" appearance="outline">
                                                    <mat-label> {{i+1}}. Late Fee Value</mat-label>
                                                    <input  matInput type="number" min="0" formControlName="late_fee_value" placeholder="Late Fee Value">
                                                    <mat-error align="start" *ngIf="formErrors?.late_fee_value" class="form__error">{{ formErrors.late_fee_value }}</mat-error>
                                                </mat-form-field>
                                            </div>

                                            <div class="col-4">
                                                <mat-form-field class="full-width" color="primary" appearance="outline">
                                                    <mat-label> {{i+1}}. Late Fee Type</mat-label>
                                                    <mat-select placeholder="Late Fee Type" formControlName="late_fee_type">
                                                        <mat-option *ngFor="let lateFeeType of lateFeeTypes" [value]="lateFeeType.key">
                                                            {{lateFeeType.value}}
                                                        </mat-option>
                                                    </mat-select>
                                                    <mat-error align="start" *ngIf="formErrors?.late_fee_type" class="form__error">{{ formErrors.late_fee_type }}</mat-error>
                                                </mat-form-field>
                                            </div>
                                            </div>
                                            <div class="row">

                                            <div class="col-4">
                                                <mat-form-field class="full-width" color="primary" appearance="outline">
                                                    <mat-label> {{i+1}}. Grace Period (Days)</mat-label>
                                                    <input  matInput type="number" min="0" formControlName="grace_period" placeholder="Grace Period (Days)">
                                                    <mat-error align="start" *ngIf="formErrors?.grace_period" class="form__error">{{ formErrors.grace_period }}</mat-error>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-4">
                                                <mat-form-field class="full-width" color="primary" appearance="outline">
                                                    <mat-label> {{i+1}}. Frequency</mat-label>
                                                    <mat-select placeholder="Frequency" formControlName="late_fee_frequency">
                                                        <mat-option *ngFor="let lateFeeFrequency of lateFeeFrequencies" [value]="lateFeeFrequency.key">
                                                            {{lateFeeFrequency.value}}
                                                        </mat-option>
                                                    </mat-select>
                                                    <mat-error align="start" *ngIf="formErrors?.late_fee_frequency" class="form__error">{{ formErrors.late_fee_frequency }}</mat-error>
                                                </mat-form-field>
                                            </div>

                                                <div class="col-2 col-sm-2 col-md-3 col-lg-3 col-xl-3 mt-md-3 mt-lg-3 mt-xl-3">
                                                    <button class="btn btn-link btn-sm btn-just-icon" (click)="lateFeeFieldCopy(i)"
                                                            mat-icon-button aria-label="Copy to New Field"
                                                            matTooltip="Copy to New Field" [matTooltipPosition]="'above'">
                                                        <mat-icon>file_copy</mat-icon>
                                                    </button>
                                                    <button class="btn btn-link btn-sm btn-just-icon" (click)="lateFeeFieldRemove(i)"
                                                            mat-icon-button color="accent" aria-label="Remove Field"
                                                            matTooltip="Remove Field" [matTooltipPosition]="'above'">
                                                        <mat-icon color="warn">close</mat-icon>
                                                    </button>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="row mb-4">
                                        <div class="col-6">
                                            <button mat-button color="accent" (click)="lateFeeFieldAdd()"
                                                    matTooltip="Add Field" [matTooltipPosition]="'above'">
                                                <mat-icon>add_circle_outline</mat-icon>
                                                Add Another Late Fee
                                            </button>
                                        </div>
                                    </div>
                                    <!-- End Late Fee Fields-->
                                    <div>
                                        <button class="mat-raised-button mr-2" color="accent" mat-button matStepperPrevious type="button">
                                            <mat-icon color="material-icons">arrow_left</mat-icon>
                                            <span>Back</span>
                                        </button>

                                        <button class="mat-raised-button mr-2" color="accent" mat-button matStepperNext type="button">
                                            <span>Next</span>
                                            <mat-icon color="material-icons">arrow_right</mat-icon>
                                        </button>
                                    </div>
                                </form>
                            </mat-step>


                            <mat-step [stepControl]="utilitiesFormGroup">
                                <form [formGroup]="utilitiesFormGroup">
                                    <ng-template matStepLabel>Utilities</ng-template>

                                    <!-- Start Utility Fields-->
                                    <div formArrayName="utilityFields"
                                         *ngFor="let utilityField of utilityFieldsAll.controls; let i = index;">
                                        <div class="row" [formGroupName]="i">
                                            <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                                                <mat-form-field class="full-width" color="primary" appearance="outline">
                                                    <mat-label> {{i+1}}. Utility Name</mat-label>
                                                    <mat-select placeholder="Utility Name" formControlName="utility_id">
                                                        <mat-option *ngFor="let utility of utilities$ | async" [value]="utility.id">
                                                            {{utility.utility_display_name}}
                                                        </mat-option>
                                                    </mat-select>
                                                    <mat-error align="start" *ngIf="formErrors?.utility_id" class="form__error">{{ formErrors.utility_id }}</mat-error>
                                                </mat-form-field>
                                            </div>

                                            <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                                                <mat-form-field class="full-width" color="primary" appearance="outline">
                                                    <mat-label> {{i+1}}. Unit Cost</mat-label>
                                                    <input  matInput formControlName="utility_unit_cost" placeholder="Unit Cost">
                                                    <mat-error align="start" *ngIf="formErrors?.utility_unit_cost" class="form__error">{{ formErrors.utility_unit_cost }}</mat-error>
                                                </mat-form-field>
                                            </div>

                                            <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                                                <mat-form-field class="full-width" color="primary" appearance="outline">
                                                    <mat-label> {{i+1}}. Base Fee</mat-label>
                                                    <input  matInput type="number" min="0" formControlName="utility_base_fee" placeholder="Base Fee">
                                                    <mat-error align="start" *ngIf="formErrors?.utility_base_fee" class="form__error">{{ formErrors.utility_base_fee }}</mat-error>
                                                </mat-form-field>
                                            </div>

                                            <div class="col-2 col-sm-2 col-md-3 col-lg-3 col-xl-3 mt-md-3 mt-lg-3 mt-xl-3">
                                                <button class="btn btn-link btn-sm btn-just-icon" (click)="utilityFieldCopy(i)"
                                                        mat-icon-button aria-label="Copy to New Field"
                                                        matTooltip="Copy to New Field" [matTooltipPosition]="'above'">
                                                    <mat-icon>file_copy</mat-icon>
                                                </button>
                                                <button class="btn btn-link btn-sm btn-just-icon" (click)="utilityFieldRemove(i)"
                                                        mat-icon-button color="accent" aria-label="Remove Field"
                                                        matTooltip="Remove Field" [matTooltipPosition]="'above'">
                                                    <mat-icon color="warn">close</mat-icon>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mb-4">
                                        <div class="col-6">
                                            <button mat-button color="accent" (click)="utilityFieldAdd()"
                                                    matTooltip="Add Field" [matTooltipPosition]="'above'">
                                                <mat-icon>add_circle_outline</mat-icon>
                                                Add Another Utility
                                            </button>
                                        </div>
                                    </div>
                                    <!-- End Utility Fields-->

                                    <div>
                                        <button class="mat-raised-button mr-2" color="accent" mat-button matStepperPrevious type="button">
                                            <mat-icon color="material-icons">arrow_left</mat-icon>
                                            <span>Back</span>
                                        </button>
                                    </div>
                                </form>
                            </mat-step>
                        </mat-vertical-stepper>

                        <div class="d-flex justify-content-center spinner-container mb-2" *ngIf="loader">
                            <mat-progress-bar
                                    color="primary"
                                    mode="query"
                                    value=50
                                    bufferValue=75>
                            </mat-progress-bar>
                        </div>

                        <div>
                            <ng-container *ngIf="isAdmin$ | async">
                                <button *ngIf="!isAdd" [disabled]="loader" mat-button class="mr-2" color="warn"
                                        (click)="openConfirmationDialog(property)"> <mat-icon>delete</mat-icon>Delete
                                </button>
                            </ng-container>
                            <button class="float-right" mat-raised-button color="primary" (click)="createOrUpdate()"
                                    [disabled]="!propertyDetailsFormGroup.valid || !paymentsFormGroup.valid">
                                <span>Save Property</span>
                            </button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
