@use '~@angular/material' as mat;
$robi-red-primary: mat.define-palette(mat.$red-palette, 700, 300, 900);
$robi-red-accent: mat.define-palette(mat.$pink-palette, 400);
$robi-red-warn: mat.define-palette(mat.$red-palette, 500);

$robi-red-theme: mat.define-light-theme(
                $robi-red-primary,
                $robi-red-accent,
                $robi-red-warn
);
