<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-info">
                <p class="card-category">Email & SMS Settings</p>
            </div>

            <div class="card-body">

                <nav mat-tab-nav-bar>

                    <a mat-tab-link routerLinkActive #email="routerLinkActive" [active]="email.isActive" [routerLinkActiveOptions]="{exact: true}"
                       [routerLink]="['/settings/email']">
                        <span class="nav-text"> General</span></a>

                    <a mat-tab-link routerLinkActive #email_template="routerLinkActive" [active]="email_template.isActive"
                       [routerLink]="['email_template']">
                        <span class="nav-text"> Templates</span></a>

                    <a mat-tab-link routerLinkActive #email_config="routerLinkActive" [active]="email_config.isActive"
                       [routerLink]="['email_config']">
                        <span class="nav-text"> Config</span></a>
                </nav>

                <router-outlet></router-outlet>

            </div>
        </div>
    </div>
</div>
