<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title">Lease Statement
                        </h4>
                    </div>

                    <div class="card-body">



                        <div class="d-flex justify-content-center spinner-container mb-2">
                            <mat-progress-bar
                                    color="primary"
                                    mode="query"
                                    value=50
                                    bufferValue=75>
                            </mat-progress-bar>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
