<div class="main-content">
    <ng-template #no_data>
        <div class="not-found">
            <mat-icon>error</mat-icon> Not Found
        </div>
    </ng-template>
    <div class="container-fluid" *ngIf="propertyData$ | async as property; else no_data">
        <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-info">
                            <div class="row">
                                <div class="col-8">
                                    <h4 class="card-title">Property Details</h4>
                                    <p class="card-category">{{property?.property_name}} ({{property?.property_code}})
                                        - {{property?.location}}</p>
                                </div>
                                <div class="col-4 text-right" *ngIf="isAdmin$ | async">
                                    <button mat-icon-button [matMenuTriggerFor]="menu" *robiPermission="['edit-property', 'delete-property']">
                                        <mat-icon>more_vert</mat-icon>
                                    </button>
                                    <mat-menu #menu="matMenu">
                                        <button mat-menu-item matTooltip="Edit Property." [matTooltipPosition]="'above'"
                                                routerLink="edit" (click)="onSelected(property)">
                                            <mat-icon>edit</mat-icon>
                                            <span>Edit Property</span>
                                        </button>
                                    </mat-menu>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">


                        <!--    <div class="row">
                                <div class="col-6">

                                    <div class="card card-chart">
                                        <div class="card-header">
                                            <x-chartist
                                                    [type]="type"
                                                    [data]="data"
                                                    [options]="options"
                                                    [events]="events"
                                            ></x-chartist>
                                        </div>

                                        <div class="card-body">
                                            <h4 class="card-title">Payment Trend</h4>
                                            <p class="card-category">
                                                <mat-icon>file_download</mat-icon> Download Report
                                            </p>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-6">

                                    <div class="card card-chart">
                                        <div class="card-header">
                                            <x-chartist
                                                    [type]="type2"
                                                    [data]="data"
                                                    [options]="options"
                                                    [events]="events"
                                            ></x-chartist>
                                        </div>

                                        <div class="card-body">
                                            <h4 class="card-title">Occupancy Trend</h4>
                                            <p class="card-category">
                                                {{property?.location}}
                                                <span class="text-success"><i class="fa fa-long-arrow-up"></i> 55% </span> increase in today sales.3
                                            </p>
                                        </div>
                                    </div>

                                </div>

                            </div>
-->


                            <div class="row">
                                <div class="col-md-8">
                                    <nav mat-tab-nav-bar>
                                        <a mat-tab-link routerLinkActive #general="routerLinkActive" [active]="general.isActive"
                                           [routerLinkActiveOptions]="{exact: true}"
                                           routerLink="/properties/{{propertyID}}">
                                            <span class="nav-text"> Info </span></a>

                                        <a mat-tab-link routerLinkActive #units="routerLinkActive" [active]="units.isActive"
                                           [routerLink]="['units']">
                                            <span class="nav-text"> Units </span></a>

                                        <a mat-tab-link routerLinkActive #leases="routerLinkActive" [active]="leases.isActive"
                                           [routerLink]="['leases']">
                                            <span class="nav-text"> Leases </span></a>

                                        <a mat-tab-link routerLinkActive #invoices="routerLinkActive" [active]="invoices.isActive"
                                           [routerLink]="['invoices']">
                                            <span class="nav-text"> Invoices </span></a>

                                        <a mat-tab-link routerLinkActive #notices="routerLinkActive" [active]="notices.isActive"
                                           [routerLink]="['notices']">
                                            <span class="nav-text"> Vacate Notices </span></a>
                                    </nav>
                                    <router-outlet></router-outlet>



                                </div>
                                <div class="col-md-4">
                                    <div class="card">
                                        <div class="card-header card-header-info">
                                            <div class="row">
                                                <div class="col-4">
                                                    <div class="card-category"> Total Units: </div>
                                                    <div>{{property?.total_units}}</div>
                                                </div>
                                                <div class="col-4">
                                                    <div class="card-category"> Occupied: </div>
                                                    <div>{{(property?.total_units) - (property?.total_vacant_units)}}</div>
                                                </div>
                                                <div class="col-4">
                                                    <div class="card-category text-danger"> Vacant: </div>
                                                    <div>{{property?.total_vacant_units}}</div>
                                                </div>
                                            </div>


                                        </div>
                                        <div class="card-body">

                                            <div class="row">
                                                <div class="col-6">
                                                    <div class="card-category text-gray"> Name: </div>
                                                    <div>{{property?.property_name}}</div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="card-category text-gray"> Code: </div>
                                                    <div>{{property?.property_code}}</div>
                                                </div>
                                            </div>

                                            <div class="card-category text-gray"> Location: </div>
                                            <div>{{property?.location}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>
